@charset "utf-8";

body { font-family: 'Philosopher','Arita-dotum',sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; word-break: keep-all; }

#wrap { padding-top: 80px; overflow-x: hidden; min-width: 320px; position: relative; }

.inner { max-width: calc(100% - 200px); margin: 0 auto; }

@media (max-width : 1600px) {
  .inner { max-width: calc(100% - 160px); }
}
@media (max-width : 1400px) {
  .inner { max-width: calc(100% - 140px); }
}
@media (max-width : 1200px) {
  .inner { max-width: calc(100% - 120px); }
}
@media (max-width : 1000px) {
  .inner { max-width: calc(100% - 100px); }
}
@media (max-width : 768px) {
  .inner { max-width: calc(100% - 80px); }
}
@media (max-width : 500px) {
  .inner { max-width: calc(100% - 40px); }
}

/* popup */
.popup { padding: 10px; background: #a89079; text-align: center; }
.popup a { color: #fff; }
.popup .popup_close { cursor: pointer; float: right; color: #fff; font-size: 2rem; }


/* sitemap */
.sitemap { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #67625e; z-index: 999; text-align: center; padding: 100px 0; }
.sitemap .tit { font-size: 10rem; color: #a89079; }
.sitemap .sitemap_close { position: absolute; right: 0; top: 0; cursor: pointer; }


/* header */
#header { position: absolute; left: 0; top: 0; width: 100%; z-index: 99; }
#header .inner { padding-top: 10px; height: 80px; align-items: center; display: flex; justify-content: space-between; }

#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li:before { transition: opacity 0.5s,top 0.5s; opacity: 0; content: ''; display: block; width: 8px; height: 8px; background: #758246;
border-radius: 50%; position: absolute; left: calc(50% - 4px); top: -10px; }
#header .gnb > li:hover:before { top: 0; opacity: 1; }
#header .gnb > li > a { display: block; font-size: 2rem; padding: 10px 40px; }
#header .gnb > li:hover > a { color: #758246; }


#header .gnb > li .depth2 { display: flex; width: 500px; position: absolute; left: 0; top: 70px; }
#header .gnb > li .depth2 li a { color: #fff; display: block; padding: 5px 15px; }

#header .depth2_bg { width: 100%; height: 50px; position: absolute; left: 0; top: 80px; background: #758246; z-index: -1; }



/* mgnb */
#header .mgnb_wrap { padding: 50px 20px; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff; }
#header .mgnb_wrap .mgnb { border-top: 1px solid #000; }
#header .mgnb_wrap .mgnb > li { padding: 10px 0; border-bottom: 1px solid #ddd; font-size: 2rem; }

#header .mgnb_wrap .mgnb .mdepth2 { padding: 0 20px; }
#header .mgnb_wrap .mgnb .mdepth2 li a { display: block; padding: 3px 10px; position: relative; font-size: 1.4rem; color: #666; }
#header .mgnb_wrap .mgnb .mdepth2 li a:before { content: ''; display: block; width: 5px; height: 5px; background: #999; border-radius: 50%; position: absolute; left: 0; top: calc(50% - 2.5px); }

#header .mgnb_wrap .mgnb_close { position: absolute; right: 20px; top: 10px; font-size: 3rem; }



#header .util { display: flex; gap: 20px; }
#header .util img { width: 20px; }
#header .util .btn_search { cursor: pointer; }
#header .util .btn_sitemap { cursor: pointer; }
#header .util .lang { cursor: pointer; position: relative; }
#header .util .lang ul { position: absolute; left: -20px; top: 30px; background: #fff; padding: 20px; text-transform: uppercase; }


/* pc 안보이게 mobile 보이게 */
#header .util .btn_ham { cursor: pointer; display: none; }

@media (max-width : 1024px) {
  #header .gnb { display: none; }
  #header .util .btn_ham { display: block; }
  #header .util .btn_sitemap { display: none; }
}

@media (max-width : 768px) {
  #header .util .lang { display: none; }
}




/* footer */


